{% load mptt_tags %}
  {% recursetree peoples %}
    <li class="dd-item" id="{{ node.id }}">
        <div class="dd-handle" id="div{{ node.id }}">{{ node.full_name }}, Position - {{ node.position }},
            Salary - {{ node.salary }}, Employment data - {{ node.employment_date}}, Settle up - {{ node.settle_up}}</div>
          {% if not node.is_leaf_node %}
            <ol class="children">
                {{ children }}
            </ol>
          {% endif %}
    </li>
  {% endrecursetree %}